@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Cubao";
  font-style: normal;
  src: url(./fonts/CubaoFreeVariable.woff2) format("woff2-variations");
}

@theme {
  --color-primary: hsl(142, 76%, 36%);
  --color-secondary: hsl(21, 90%, 48%);
  --color-accent: hsl(200, 98%, 39%);
  --color-neutral: hsl(215, 28%, 17%);
  --color-background: hsl(48, 100%, 96%);
  --color-background-80: hsl(54, 39%, 90%);
  --color-primary-50: hsl(145, 75%, 97%);

  --font-body: "Montserrat", sans-serif;
  --font-heading: "Poppins", sans-serif;
  --font-logo: "Cubao", sans-serif;

  --color-destructive: hsl(0, 100%, 50%);
  --color-destructive-foreground: hsl(210, 40%, 98%);
}

@theme inline {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  @keyframes accordion-down {
  from {
    height: 0;
    }
  to {
    height: var(--reka-accordion-content-height);
    }
  }
  @keyframes accordion-up {
  from {
    height: var(--reka-accordion-content-height);
    }
  to {
    height: 0;
    }
  }
}


@layer base {
  body {
    @apply bg-background text-[16px] font-body text-neutral;
  }
  button {
    @apply cursor-pointer
  }
}
