@import "./base.css";

@layer base {
  body {
    position: relative;
    color: var(--color-neutral);
    background-color: var(--color-background);
    font-family: var(--font-body);
  }
  h1 {
    @apply text-[39px] font-semibold font-heading;
  }
}

@utility container {
  @apply mx-auto max-w-6xl;
}

@utility pseudo-container {
  @apply after:content-[''] after:absolute;
}

@utility text-clickable {
  @apply hover:underline cursor-pointer hover:text-accent;
}
